<!DOCTYPE html>
<html>
<head>
<title>Привет, Мир!</title>
<link rel="stylesheet" href="{{ STATIC_URL }}static/index.css">
</head>
<body>
<h1>Лабораторная работа №1 + расписание
</h1>
<h2>Это учебный сайт, с его помощью будут изучены технологии
python/django, html/css.</h2>
<h3>Как видите, здесь используются заголовки различных
уровней.</h3>
<p>Здесь есть маркированный список:</p>
<h4>
<ul>
<li>Элемент 1;</li>
<li>элемент 2;</li>
<li>элемент 3;</li>
<li>последний элемент.</li>
</ul>
</h4>
<p>
<img src="{{ STATIC_URL }} static/Golovin_17.png" width="500"/>
</p>
<h4>
<ol>
<li>Элемент 1;</li>
<li>элемент 2;</li>
<li>элемент 3;</li>
<li>последний элемент.</li>
</ol>
</h4>
<p>И даже таблица:</p>
<table border="1">
<thead>
<tr>
<th>Время</th>
<th>Понедельник</th>
<th>Вторник</th>
<th>Среда</th>
<th>Четверг</th>
<th>Пятница</th>
</tr>
</thead>
<tr>
<td>9:30</td>
<td>-</td>
<td>Высш. мат.(Лекция)</td>
<td>-</td>
<td>-</td>
<td>-/Физика(Лекция)</td>
</tr>
<tr>
<td>11:15</td>
<td>Физ-ра</td>
<td>Высш. мат.(Практика)</td>
<td>Англ. яз.</td>
<td>-/Философия(Лекция)</td>
<td>Физика(Практика)/Физика(Лабораторная.)</td>
</tr>
<tr>
<td>13:00</td>
<td>ТЯП(Лекция) </td>
<td>Информатика(Практика)</td>
<td>ТЯП(Практика)</td>
<td>-</td>
<td>ТФКП(Практика)</td>

</tr>
<tr>
<td>15:15</td>
<td>ТФКП(Лекция)</td>
<td>-</td>
<td>Физ-ра</td>
<td>Англ. яз.</td>
<td>-</td>
</tr>
<tr>
<td>16:45</td>
<td>ТЯП(Лабараторная)</td>
<td>-</td>
<td>Физ-ра</td>
<td>-</td>
<td>-</td>
</tr>
</table>
</body>
</html>
